<div *ngIf="success">
  <h1 id="tableLabel" class="text-primary"><b>{{ vehicleName }}</b> inputs:</h1>

  <p *ngIf="!vehicleInputs"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicleInputs">
    <thead>
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Speed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let input of vehicleInputs | paginate: { itemsPerPage: 5, currentPage: page }">
        <td>{{ input.latitude }}</td>
        <td>{{ input.longitude }}</td>
        <td>{{ input.speed }}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<div *ngIf="!success">
  <h1 class="text-primary">Page Not Found(404)</h1>
</div>

