<h1 class="text-primary">Vehicles</h1>

<p *ngIf="!latestVehicleInputs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="latestVehicleInputs">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Speed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let input of latestVehicleInputs">
      <td><a href="/" class="link-dark">Show All</a></td>
      <td>{{ input.vehicleName }}</td>
      <td>{{ input.latitude }}</td>
      <td>{{ input.longitude }}</td>
      <td>{{ input.speed }}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary float-right" (click)="addVehicle()">Add Vehicle</button>
