<h1 class="text-primary">Vehicles</h1>

<p *ngIf="!vehicles"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicles">
  <thead>
    <tr>
      <th>ID</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Speed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{ vehicle.Id }}</td>
      <td>{{ vehicle.Data[0].Latitude }}</td>
      <td>{{ vehicle.Data[0].Longitude }}</td>
      <td>{{ vehicle.Data[0].Speed }}</td>
    </tr>
  </tbody>
</table>
