<h1 class="text-primary">Vehicles</h1>

<p *ngIf="!inputs$"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="inputs$">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Speed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let input of inputs$ | async | paginate: { itemsPerPage: 5, currentPage: page }">
      <td><a [routerLink]="['/vehicle', input.vehicleId, { vehicleName: input.vehicleName }]" class="nav-link">Show All</a></td>
      <td>{{ input.vehicleName }}</td>
      <td>{{ input.latitude }}</td>
      <td>{{ input.longitude }}</td>
      <td>{{ input.speed }}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>

<button class="btn btn-primary float-right" (click)="open(content)">Add Vehicle</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a new Vehicle</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #vehicleForm="ngForm" (ngSubmit)="addVehicle(vehicleForm.value)" novalidate>
      <div class="form-group">
        <label for="name">Vehicle Name</label>
        <div class="input-group">
          <input name="name" class="form-control" placeholder="Name" type="text" maxlength="15" ngModel required>
        </div>
      </div>
      <button data-dismiss="modal" class="btn btn-outline-primary" type="submit">Save</button>
    </form>
  </div>
</ng-template>
